In [1]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
import numpy as np
import pandas as pd
import joblib
from tkinter import *
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import svm
from sklearn.linear_model import LogisticRegression

In [4]:
data = pd.read_csv('D:\CodeClauseInternship_LoanPrediction\loan_prediction.csv')

In [5]:

data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [6]:

data.tail()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [7]:

data.shape

(614, 13)

In [8]:
print("Number of Rows = ",data.shape[0])
print("Number of Columns = ",data.shape[1])

Number of Rows =  614
Number of Columns =  13

In [9]:

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [10]:

data.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [11]:
data.isnull().sum()*100 / len(data)

Loan_ID              0.000000
Gender               2.117264
Married              0.488599
Dependents           2.442997
Education            0.000000
Self_Employed        5.211726
ApplicantIncome      0.000000
CoapplicantIncome    0.000000
LoanAmount           3.583062
Loan_Amount_Term     2.280130
Credit_History       8.143322
Property_Area        0.000000
Loan_Status          0.000000
dtype: float64

In [12]:

data = data.drop('Loan_ID',axis=1)

In [13]:
data.head(10)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N

In [14]:
columns = ['Gender','Dependents','LoanAmount','Loan_Amount_Term']

In [15]:
data = data.dropna(subset=columns)

In [16]:

data.isnull().sum()*100 / len(data)

Gender               0.000000
Married              0.000000
Dependents           0.000000
Education            0.000000
Self_Employed        5.424955
ApplicantIncome      0.000000
CoapplicantIncome    0.000000
LoanAmount           0.000000
Loan_Amount_Term     0.000000
Credit_History       8.679928
Property_Area        0.000000
Loan_Status          0.000000
dtype: float64

In [17]:
data['Self_Employed'].mode()[0]

'No'

In [18]:
data['Self_Employed'] =data['Self_Employed'].fillna(data['Self_Employed'].mode()[0])

In [19]:
data.isnull().sum()*100 / len(data)

Gender               0.000000
Married              0.000000
Dependents           0.000000
Education            0.000000
Self_Employed        0.000000
ApplicantIncome      0.000000
CoapplicantIncome    0.000000
LoanAmount           0.000000
Loan_Amount_Term     0.000000
Credit_History       8.679928
Property_Area        0.000000
Loan_Status          0.000000
dtype: float64

In [20]:
data['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [21]:
data['Self_Employed'].unique()

array(['No', 'Yes'], dtype=object)

In [22]:
data['Credit_History'].mode()[0]

1.0

In [23]:
data['Credit_History'] =data['Credit_History'].fillna(data['Credit_History'].mode()[0])

In [24]:
data.isnull().sum()*100 / len(data)

Gender               0.0
Married              0.0
Dependents           0.0
Education            0.0
Self_Employed        0.0
ApplicantIncome      0.0
CoapplicantIncome    0.0
LoanAmount           0.0
Loan_Amount_Term     0.0
Credit_History       0.0
Property_Area        0.0
Loan_Status          0.0
dtype: float64

In [25]:

data.sample(5)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
287,Male,Yes,0,Graduate,No,3704,2000.0,120.0,360.0,1.0,Rural,Y
545,Male,Yes,0,Graduate,No,2768,1950.0,155.0,360.0,1.0,Rural,Y
201,Male,No,2,Graduate,No,4923,0.0,166.0,360.0,0.0,Semiurban,Y
563,Male,No,0,Not Graduate,Yes,5800,0.0,132.0,360.0,1.0,Semiurban,Y
105,Male,Yes,1,Graduate,No,3052,1030.0,100.0,360.0,1.0,Urban,Y

In [26]:
data['Dependents'] =data['Dependents'].replace(to_replace="3+",value='4')

In [27]:
data['Dependents'].unique()

array(['1', '0', '2', '4'], dtype=object)

In [28]:
data['Loan_Status'].unique()

array(['N', 'Y'], dtype=object)

In [29]:


data['Gender'] = data['Gender'].map({'Male':1,'Female':0}).astype('int')
data['Married'] = data['Married'].map({'Yes':1,'No':0}).astype('int')
data['Education'] = data['Education'].map({'Graduate':1,'Not Graduate':0}).astype('int')
data['Self_Employed'] = data['Self_Employed'].map({'Yes':1,'No':0}).astype('int')
data['Property_Area'] = data['Property_Area'].map({'Rural':0,'Semiurban':2,'Urban':1}).astype('int')
data['Loan_Status'] = data['Loan_Status'].map({'Y':1,'N':0}).astype('int')

In [30]:
data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,1,1,1,1,0,4583,1508.0,128.0,360.0,1.0,0,0
2,1,1,0,1,1,3000,0.0,66.0,360.0,1.0,1,1
3,1,1,0,0,0,2583,2358.0,120.0,360.0,1.0,1,1
4,1,0,0,1,0,6000,0.0,141.0,360.0,1.0,1,1
5,1,1,2,1,1,5417,4196.0,267.0,360.0,1.0,1,1

In [31]:

X = data.drop('Loan_Status',axis=1)
y = data['Loan_Status']
y

1      0
2      1
3      1
4      1
5      1
      ..
609    1
610    1
611    1
612    1
613    0
Name: Loan_Status, Length: 553, dtype: int32

In [32]:
data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,1,1,1,1,0,4583,1508.0,128.0,360.0,1.0,0,0
2,1,1,0,1,1,3000,0.0,66.0,360.0,1.0,1,1
3,1,1,0,0,0,2583,2358.0,120.0,360.0,1.0,1,1
4,1,0,0,1,0,6000,0.0,141.0,360.0,1.0,1,1
5,1,1,2,1,1,5417,4196.0,267.0,360.0,1.0,1,1

In [33]:
cols = ['ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term']

In [34]:
from sklearn.preprocessing import StandardScaler
st = StandardScaler()
X[cols]=st.fit_transform(X[cols])

In [35]:
X

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
1,1,1,1,1,0,-0.128694,-0.049699,-0.214368,0.279961,1.0,0
2,1,1,0,1,1,-0.394296,-0.545638,-0.952675,0.279961,1.0,1
3,1,1,0,0,0,-0.464262,0.229842,-0.309634,0.279961,1.0,1
4,1,0,0,1,0,0.109057,-0.545638,-0.059562,0.279961,1.0,1
5,1,1,2,1,1,0.011239,0.834309,1.440866,0.279961,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...
609,0,0,0,1,0,-0.411075,-0.545638,-0.893134,0.279961,1.0,0
610,1,1,4,1,0,-0.208727,-0.545638,-1.262287,-2.468292,1.0,0
611,1,1,1,1,0,0.456706,-0.466709,1.274152,0.279961,1.0,1
612,1,1,2,1,0,0.374659,-0.545638,0.488213,0.279961,1.0,1
613,0,0,0,1,1,-0.128694,-0.545638,-0.154828,0.279961,0.0,2

In [36]:

model_df={}
def model_val(model,X,y):
    X_train,X_test,y_train,y_test=train_test_split(X,y,
                                                   test_size=0.20,
                                                   random_state=42)
    model.fit(X_train,y_train)
    y_pred=model.predict(X_test)
    print(f"{model} accuracy is {accuracy_score(y_test,y_pred)}")
    
    score = cross_val_score(model,X,y,cv=5)
    print(f"{model} Avg cross val score is {np.mean(score)}")
    model_df[model]=round(np.mean(score)*100,2)

In [37]:
model_df

{}

In [38]:
model = LogisticRegression()
model_val(model,X,y)

LogisticRegression() accuracy is 0.8018018018018018
LogisticRegression() Avg cross val score is 0.8047829647829647

In [39]:
#SVC
model = svm.SVC()
model_val(model,X,y)

SVC() accuracy is 0.7927927927927928
SVC() Avg cross val score is 0.7938902538902539

In [40]:
model = DecisionTreeClassifier()
model_val(model,X,y)

DecisionTreeClassifier() accuracy is 0.7387387387387387
DecisionTreeClassifier() Avg cross val score is 0.708877968877969

In [41]:

model =RandomForestClassifier()
model_val(model,X,y)

RandomForestClassifier() accuracy is 0.7567567567567568
RandomForestClassifier() Avg cross val score is 0.7812448812448812

In [42]:

model =GradientBoostingClassifier()
model_val(model,X,y)

GradientBoostingClassifier() accuracy is 0.7927927927927928
GradientBoostingClassifier() Avg cross val score is 0.7739721539721539

In [43]:
log_reg_grid={"C":np.logspace(-4,4,20),
             "solver":['liblinear']}

In [44]:
rs_log_reg=RandomizedSearchCV(LogisticRegression(),
                   param_distributions=log_reg_grid,
                  n_iter=20,cv=5,verbose=True)

In [45]:
rs_log_reg.fit(X,y)

Fitting 5 folds for each of 20 candidates, totalling 100 fits

RandomizedSearchCV(cv=5, estimator=LogisticRegression(), n_iter=20,
                   param_distributions={'C': array([1.00000000e-04, 2.63665090e-04, 6.95192796e-04, 1.83298071e-03,
       4.83293024e-03, 1.27427499e-02, 3.35981829e-02, 8.85866790e-02,
       2.33572147e-01, 6.15848211e-01, 1.62377674e+00, 4.28133240e+00,
       1.12883789e+01, 2.97635144e+01, 7.84759970e+01, 2.06913808e+02,
       5.45559478e+02, 1.43844989e+03, 3.79269019e+03, 1.00000000e+04]),
                                        'solver': ['liblinear']},
                   verbose=True)

In [46]:
rs_log_reg.best_score_

0.8047829647829647

In [47]:
rs_log_reg.best_params_

{'solver': 'liblinear', 'C': 0.23357214690901212}

In [48]:

svc_grid = {'C':[0.25,0.50,0.75,1],"kernel":["linear"]}

In [49]:
rs_svc=RandomizedSearchCV(svm.SVC(),
                  param_distributions=svc_grid,
                   cv=5,
                   n_iter=4,
                  verbose=True)

In [50]:
rs_svc.fit(X,y)

Fitting 5 folds for each of 4 candidates, totalling 20 fits

RandomizedSearchCV(cv=5, estimator=SVC(), n_iter=4,
                   param_distributions={'C': [0.25, 0.5, 0.75, 1],
                                        'kernel': ['linear']},
                   verbose=True)

In [51]:
rs_svc.best_score_

0.8066011466011467

In [52]:
rs_svc.best_params_

{'kernel': 'linear', 'C': 0.25}

In [53]:

RandomForestClassifier()

RandomForestClassifier()

In [54]:
rf_grid={'n_estimators':np.arange(10,1000,10),
  'max_features':['auto','sqrt'],
 'max_depth':[None,3,5,10,20,30],
 'min_samples_split':[2,5,20,50,100],
 'min_samples_leaf':[1,2,5,10]
 }

In [55]:
rs_rf=RandomizedSearchCV(RandomForestClassifier(),
                  param_distributions=rf_grid,
                   cv=5,
                   n_iter=20,
                  verbose=True)

In [ ]:
rs_rf.fit(X,y)

In [57]:
rs_rf.best_score_

0.8066011466011467

In [58]:
rs_rf.best_params_

{'n_estimators': 960,
 'min_samples_split': 20,
 'min_samples_leaf': 2,
 'max_features': 'sqrt',
 'max_depth': 3}

In [60]:

X = data.drop('Loan_Status',axis=1)
y = data['Loan_Status']

In [61]:
rf = RandomForestClassifier(n_estimators=270,
 min_samples_split=5,
 min_samples_leaf=5,
 max_features='sqrt',
 max_depth=5)

In [62]:
rf.fit(X,y)

RandomForestClassifier(max_depth=5, min_samples_leaf=5, min_samples_split=5,
                       n_estimators=270)

In [63]:
joblib.dump(rf,'loan_status_predict')

['loan_status_predict']

In [64]:
model = joblib.load('loan_status_predict')

In [ ]:


gender = input("Gender (0 for Female, 1 for Male): ")
married = input("Married (0 for No, 1 for Yes): ")
dependents = input("Dependents: ")
education = input("Education (0 for Not Graduate, 1 for Graduate): ")
self_employed = input("Self Employed (0 for No, 1 for Yes): ")
applicant_income = input("Applicant Income: ")
coapplicant_income = input("Coapplicant Income: ")
loan_amount = input("Loan Amount: ")
loan_amount_term = input("Loan Amount Term: ")
credit_history = input("Credit History (0 or 1): ")
property_area = input("Property Area (0 for Rural, 1 for Semiurban, 2 for Urban): ")



df = pd.DataFrame({
    'Gender': [int(gender)],
    'Married': [int(married)],
    'Dependents': [int(dependents)],
    'Education': [int(education)],
    'Self_Employed': [int(self_employed)],
    'ApplicantIncome': [int(applicant_income)],
    'CoapplicantIncome': [float(coapplicant_income)],
    'LoanAmount': [float(loan_amount)],
    'Loan_Amount_Term': [float(loan_amount_term)],
    'Credit_History': [int(credit_history)],
    'Property_Area': [int(property_area)]
}, index=[0])

Gender (0 for Female, 1 for Male):  1
Married (0 for No, 1 for Yes):  1
Dependents:  2
Education (0 for Not Graduate, 1 for Graduate):  1
Self Employed (0 for No, 1 for Yes):  1
Applicant Income:  200000
Coapplicant Income:  200000
Loan Amount:  100000000

In [ ]:
df

In [ ]:
result = model.predict(df)

In [ ]:
if result==1:
    print("Loan Approved")
else:
    print("Loan Not Approved")

In [ ]:
import pandas as pd
import joblib
from tkinter import *

def show_entry():
    
    entries = [float(entry.get()) for entry in entry_fields]

    
    data = {
        'Gender': entries[0],
        'Married': entries[1],
        'Dependents': entries[2],
        'Education': entries[3],
        'Self_Employed': entries[4],
        'ApplicantIncome': entries[5],
        'CoapplicantIncome': entries[6],
        'LoanAmount': entries[7],
        'Loan_Amount_Term': entries[8],
        'Credit_History': entries[9],
        'Property_Area': entries[10]
    }

    
    df = pd.DataFrame(data, index=[0])

    
    model = joblib.load('loan_status_predict')

    
    result = model.predict(df)

    
    if result == 1:
        result_label.config(text="Loan approved")
    else:
        result_label.config(text="Loan Not Approved")

master = Tk()
master.title("Loan Status Prediction Using Machine Learning")


labels = [
    "Gender [1:Male , 0:Female]",
    "Married [1:Yes , 0:No]",
    "Dependents [1,2,3,4]",
    "Education (0 for Not Graduate, 1 for Graduate) ",
    "Self Employed (0 for No, 1 for Yes) ",
    "ApplicantIncome",
    "CoapplicantIncome",
    "LoanAmount",
    "Loan_Amount_Term",
    "Credit History (0 or 1) ",
    "Property Area (0 for Rural, 1 for Semiurban, 2 for Urban) "
]

entry_fields = []

for i, label_text in enumerate(labels):
    label = Label(master, text=label_text)
    label.grid(row=i, column=0, sticky="w")  
    entry = Entry(master)
    entry.grid(row=i, column=1)
    entry_fields.append(entry)


result_label = Label(master)
result_label.grid(row=len(labels), columnspan=2)


Button(master, text="Predict", command=show_entry).grid(columnspan=2)

mainloop()